<!DOCTYPE html>
<html ng-app="arsandcraftsApp" lang="it">
  <head>
    <meta charset="utf-8">
    <title>Ars&Crafts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/lightbox2/dist/css/lightbox.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/freelancer.css">    
    <link rel="stylesheet" href="styles/landing-page.css">
    <link rel="stylesheet" href="styles/font-awesome.css" type="text/css">
    <!-- endbuild -->    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>



  <body id="page-top" class="index">

  <nav class="navbar navbar-default navbar-fixed-top" ng:class="{true:'', false:'navbar-shrink '}[showCarousel]">
    <div ng-include="'views/section/navbar.html'"></div>
  </nav>

  <div id="myCarousel" class="carousel slide">
    <div ng-include="'views/section/carousel.html'" ng-if="showCarousel"></div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

    <section id="services" style="padding:0px 0;margin-right:0px">
      <div class="marketing" id="wrap">
        <div ng-view id="main"></div>
      </div>
    </section>
  
  <!-- /.container -->

  <!-- About Section -->
    <section class="success" id="about" ng-show="showCarousel">
        <div ng-include="'views/section/about.html'"></div>
    </section>

    <!-- Contact Section -->
    <section id="contact" ng-show="showCarousel">
        <div ng-include="'views/section/contact.html'"></div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div ng-include="'views/section/footer.html'" ></div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

  <!-- script references -->
  <!-- Google Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51927899-3', 'auto');
  ga('send', 'pageview');

</script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="bower_components/lightbox2/dist/js/lightbox.js"></script>
  <script src="bower_components/wow/dist/wow.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
  <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="bower_components/highlightjs/highlight.pack.js"></script>
  <script src="bower_components/angular-highlightjs/angular-highlightjs.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angularjs-crypto/public/js/lib/angularjs-crypto.js"></script>
  <script src="bower_components/angularjs-crypto/public/js/lib/plugins/CryptoJSCipher.js"></script>
  <script src="bower_components/angularjs-crypto/public/js/lib/ContentHeaderCheck.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <!-- endbower -->

    <script src="vendor/sha1.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/jquery.easing.min.js"></script>
    <script src="vendor/classie.js"></script>
    <script src="vendor/cbpAnimatedHeader.js"></script>
    <script src="vendor/freelancer.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="vendor/jqBootstrapValidation.js"></script>
    <script src="vendor/contact_me.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/services.js"></script>
  <script src="scripts/services/artigiano.js"></script>
  <script src="scripts/services/base.js"></script>
  <script src="scripts/controllers/authentication.js"></script>
  <script src="scripts/controllers/home.js"></script>
  <script src="scripts/controllers/artigiano.js"></script>
  <script src="scripts/templateCache.js"></script>
  <!-- endbuild -->

</body>
</html>

