<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Chi siamo</h2>
			<hr class="star-light">
		</div>
	</div>
	<div class="row">
		<div >
			<p>Siamo un team di sviluppatori che crede nell’unicit&agrave del nostro meraviglioso paese e nel nostro immenso patrimonio artistico e culturale. Crediamo nel sogno di promuovere e valorizzare le vere eccellenze italiane, le migliaia di piccoli artigiani e artisti. Questo &egrave il nostro primo piccolo grande passo!</p>
		</div>
	</div>
	<div class="row">
		<div >
			<p>La piattaforma &egrave; stata realizzata grazie al bando: Creativi digitali- Sviluppo di idee progetto per una nuova generazione di app – APP ON - CUP: F88C1500007000</p>
		</div>
	</div>
</div>
