<!-- Carousel
  ================================================== -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/splash.jpg" style="width:100%" class="img-responsive" style="width:100%;">
      <div class="container">
        <div class="carousel-caption">
          <h1>Ars And Crafts</h1>
          <p>La prima piattaforma in Italia dei lavori di artigianato</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/artigiano-a-lavoro-2.jpg" class="img-responsive" style="width:100%;">
      <div class="container">
        <div class="carousel-caption">
          <h1>Qualit&agrave</h1>
          <p>Scopri le opere degli artisti pi&ugrave interessanti attraverso il nostro innovativo sistema di controllo della qualit&agrave.</p>
          
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/feedback.jpg" class="img-responsive" style="width:100%;">
      <div class="container">
        <div class="carousel-caption">
          <h1>Interazione</h1>
          <p>Registrati tramite i pi&ugrave diffusi social e inizia a votare le foto delle opere che pi&ugrave ti affascinano</p>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
<!-- /.carousel -->
