<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Contattaci</h2>
			<hr class="star-primary">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
			<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
			<form name="sentMessage" id="contactForm" novalidate>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Nome</label>
						<input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Please enter your name.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Email</label>
						<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Per favore inserisci il tuo indirizzo email.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Numero di telefono</label>
						<input type="tel" class="form-control" placeholder="Numero telefono" id="phone" required data-validation-required-message="Per favore inserisci il tuo numero di telefono.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Messaggio</label>
						<textarea rows="5" class="form-control" placeholder="Messaggio" id="message" required data-validation-required-message="Per favore inserisci un messaggio."></textarea>
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<br>
				<div id="success"></div>
				<div class="row">
					<div class="form-group col-xs-12">
						<button type="submit" class="btn btn-success btn-lg">Invia</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

