<div class="footer-above">
	<div class="container">
		<div class="row">			
			<div class="footer-col col-md-4">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/ArsAndCrafts/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
					</li>
					<li>
						<a href="https://plus.google.com/u/0/b/108734254396234504908/+MediacontentsSrlRoma/posts/p/pub" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
					</li>
					
					<li>
						<a href="http://www.arsandcrafts.com" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
					</li>
				</ul>
			</div>
			
			<div class="footer-col col-md-4">
				<a href="https://play.google.com/store/apps/details?id=com.mediacontents.arsandcrafts">
                  <img alt="Scarica l'app su Google Play"
                       src="images/googleplaybadge.png" />
                </a>
			</div>
			
			<div class="footer-col col-md-4">
				<img class="img-responsive" style="float:right; width:300%" src="images/por_logo_negativo_tr.png" alt="">
			</div>
		</div>
	</div>
</div>
<div class="footer-below">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a style="color:#b7b7b7;">Mediacontents Srl -  IT09506791004  -  </a><a href="http://www.mediacontents.net" style="color:#b7b7b7;">www.mediacontents.net</a>  -  Copyright &copy; www.arsandcrafts.com
			</div>
		</div>
	</div>
</div>
