


 <!-- Navigation -->
    
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:10px 15px;" href="#page-top">
					<img alt="Ars and Crafts" class="img-responsive"
                       src="images/aac_horizontal_reduced.png" width="50%"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li class="page-scroll">
						<a href="#home" ng-if="!showCarousel">Home</a>
					</li class="page-scroll">
					<li class="page-scroll">
						<a href="" ng-click="gotoArtigiano()" ng-if="showCarousel && isLogged">Artigiano</a>
					</li class="page-scroll">
					<li>
						<a href="" ng-click="gotoLogin()" target="ext" ng-if="showCarousel || isLogged">{{loginoutString}}</a>
					</li>
                    <li class="page-scroll">
                        <a href="#services" ng-if="showCarousel">Servizi</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" ng-if="showCarousel">Chi siamo</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" ng-if="showCarousel">Contatti</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
