<div class="row" style=" height:100%;background-color: #cccccc; padding-left=0;padding-right=0;padding-top:80px;margin-right:0px;padding-bottom=0px; " align="center">
  <div style="width:100%;" ng-if="!vista || vista==='prodotto'">

    <div id="artigiano" class="carousel slide" >
      <!-- Indicators -->
      <ol class="carousel-indicators">

        <li ng-repeat="prodotto in prodottoList" data-target="#artigiano" data-slide-to="{{$index}}" ng-class='{active:$first}'></li>
      </ol>
      <div class="carousel-inner">
        <div class="item" style="background-color: #cccccc" ng-class='{active:$first}' ng-repeat="prodotto in prodottoList">
          <img ng-if="prodotto.immagine" ng-src="{{prodotto.immagine}}" style="" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{prodotto.nome}}</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href ng-click="dettaglioProdotto(prodotto.idProdotto)">Accedi al prodotto</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" ng-non-bindable href="#artigiano" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" ng-non-bindable href="#artigiano" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
  
  <div style="padding-top: 145px; padding-bottom: 145px;" ng-if="prodottoList.length == 0">
    <a class="btn btn-lg btn-primary">Nessun prodotto presente<br/>Inseriscilo tramite la nostra app!</a>
  </div>

  <div style="width:100%;" ng-if="!vista || vista==='dettaglio'">
    <div id="artigiano" class="carousel slide" ng-mouseenter="showCaption()" ng-mouseleave="hideCaption()">
      <div class="carousel-inner">		  
        <div class="item" style="background-color: #cccccc" ng-class='{active:$first}' ng-repeat="foto in fotoList">
          <img ng-if="foto.immagine" ng-src="{{foto.immagine}}" style="" class="img-responsive">
          <div class="container" ng-show="captionActive">
            <div class="carousel-caption">
              <p>Valutazione: {{foto.mediaFeedback}}</p>
              <p><a class="btn btn-lg btn-primary" href ng-click="elimina(foto.idFoto)">Elimina</a>
              </p>              
            </div>
          </div>
        </div>        
      </div>
      <!-- Indicators -->
	  <ol class="carousel-indicators" style="top:10px;height:20px;">
		<li ng-repeat="foto in fotoList" data-target="#artigiano" data-slide-to="{{$index}}" ng-class='{active:$first}'></li>
	  </ol>
      <!-- Controls -->
      <a class="left carousel-control" ng-non-bindable href="#artigiano" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" ng-non-bindable href="#artigiano" data-slide="next">
        <span class="icon-next"></span>
      </a>
      
      <div class="btn-group" style="padding-bottom: 20px; padding-top: 0px">
      <label class="btn btn-primary" ng-model="checkModel" btn-radio="'upload'">Upload</label>
      <label class="btn btn-primary" ng-model="checkModel" btn-radio="'dettaglio'">Dettaglio</label>      
      <label class="btn btn-primary" ng-click="backProducts()">Torna ai prodotti</label>
    </div>
    {{radioModel}}
    <div ng-if="checkModel==='upload'" ng-include="'views/section/upload.html'"></div>
    <div ng-if="checkModel==='dettaglio'">
      <table class="table table-responsive" style="background-color: #cccccc; width:90%;margin-bottom:0px;color:#5a5a5a">
        <tbody>
        <tr>
          <td>Nome</td><td>{{descrizioneProdotto.nome}}</td>
        </tr>
        <tr>
          <td>Descrizione</td><td>{{descrizioneProdotto.descrizione}}</td>
        </tr>
        <tr>
          <td>Data creazione</td><td>{{descrizioneProdotto.dataInserimento}}</td>
        </tr>
        </tbody>
      </table>
    </div>
      
      </div>
    
  </div>


</div>
