﻿<!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Scopri le migliori opere di artigianato</h2>
                    <p class="lead">Cerca le opere più interessanti più vicine a te, oppure cerca per titolo, categoria o livello di feedback.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/phoneshp.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Interagisci attivamente con la piattaforma</h2>
                    <p class="lead">Esprimi i tuoi giudizi valutando le fotografie che ritraggono l'opera. Le foto con feedback migliori daranno visibilità al prodotto e all'artigiano.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/macfoto.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mettiti in contatto con l'artigiano</h2>
                    <p class="lead">Se sei stato particolarmente colpito da un opera o dalla qualità del lavoro di un artigiano, mettiti direttamente in contatto con lui.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/ipadartigiano.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Creativi digitali - APP ON<br/>Regione Lazio</h2>
                    <p class="lead">Progetto vincitore del programma APP-ON finanziato dalla regione Lazio.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/por_fesr.png" alt="" style="width:50%">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>






